/* Your card CSS file */
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);

}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  border: white 1px solid;
}

div {
  display: block;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
